.home-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: thin dashed red;
}

.header {
    width: 100%;
    overflow: hidden;
    max-height: 600px;
    position: relative;
}

.header .header-img {
   width: 100%;
    height: 100%;
    object-fit: contain;
    object-position:center;

}