

html,
body {
    height: 100%;
}

h1 {
    color: #ff6f00;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.toast-top-right,
.toast-bottom-right,
.toast-bottom-left,
.toast-top-left,
.toast-top-center,
.toast-bottom-center {
  z-index: 2000 !important;
}